@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');
* {
    font-family: "Jura", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: rgb(91, 176, 243);
}

#UI {
    position: absolute;
    width: 100%;
    height: 100%;
}
.custom-menu-divider {
    padding-left: 0.5px;
    padding-right: 0.5px;
}

#hotbar .hotbar-item {
    width: 65px !important;
    height: 65px !important;
}
.hotbar-item:hover {
    border-color: #ff9900 !important;
    cursor: pointer !important;
}